<h1>Create a new bookmark for the <%= @list.name %> list</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit :submit %>
<% end %>
<%# <p>oooo</p> %>
